{% extends "base.html" %}

        {% block head %}

        <style>
             table, th, td {
   border: 1px solid black;
                    font-size: 15px;
                    align-content: center;
}
        </style>

        {% endblock %}

        {% block content %}
        	<br>

        <p align="center">Welcome to the Main User Feed</p>
        <ul><hr>
        {% for tweet in arr %}

        <li>{{ tweet['title'] }}</li><hr>

        {% endfor %}
        </ul>

         The top reports from users are here:

       <table>
           <tr>
           <th>Complaints</th>
           <th>Location</th></tr>
           {% for rep in reports %}

           <tr>
               <td>{{ rep['complaint'] }}</td>
               <td>{{ rep['location'] }}</td>
           </tr>

           {% endfor %}
        </table>

        {% endblock %}
